In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'poblacion_global_2020.csv'

# Ejercicio

Examina detenidamente el siguiente dataset y responde las siguientes preguntas:

* ¿Porqué cumple con las condiciones de Tidy Data?
Porque cumple la condicion de que cada fila en una tabla es una observación y cada columna es una característica de dicha información.
* ¿Cuál es el data point principal y cual es la meta data?
data point: la columna País
meta data: las columnas Poblacion (2020), Densidad, Territrio(Km2), Tasa Migración, Tasa Fertlidad, Edad Promedio, %Población Urbana.
* Si quisieramos saber más sobre los niveles educativos globales ¿Qué otras características necesitariamos para este data set?
% de personas con estudios basicos, % de personas con estudios medios o FPs y % de personas con estudios universitarios y si se quisera profundiar mas en detalle, saber cuantos de ellos son hombres y cuantos son mujeres.
* ¿Qué tipo de análisis harías con este data set?
% de la población que no acaba sus estudios basicos, % de la población que no tiene acceso o recursos a la educacion primaria o universitaria, como incide la poblacion o la densidad en la posibilidad de acceder a estudios, como incide la educacion o el nivel de estudios con la tasa de fertiliad, que relacion tiene la educacion con la migracion de las personas teniendo en cuenta las posibilidades que puede tener en ese lugar para desarrollar lo estudiado...

In [3]:
df = pd.read_csv(path)

df.head(10)

,Pais,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad,Edad Promedio,% Poblacion Urbaba,Continente
0,Afganistán,39074280,60,652860,-62920.0,4.6,18,25 %,Asia
1,Albania,2877239,105,27400,-14000.0,1.6,36,63 %,Europa
2,Alemania,83830972,240,348560,543822.0,1.6,46,76 %,Europa
3,Andorra,77287,164,470,NaN,N.A.,N.A.,88 %,Europa
4,Angola,33032075,26,1246700,6413.0,5.6,17,67 %,Africa
5,Antigua y Barbuda,98069,223,440,0.0,2,34,26 %,America
6,Arabia Saudita,34905942,16,2149690,134979.0,2.3,32,84 %,Asia
7,Argelia,43984569,18,2381740,-10000.0,3.1,29,73 %,Africa
8,Argentina,45267449,17,2736690,4800.0,2.3,32,93 %,America
9,Armenia,2964219,104,28470,-4998.0,1.8,35,63 %,Asia

# Ejercicios:

Manipula el dataset, de manera que respondas las siguientes preguntas:

1. ¿Cual es el promedio de Tasa de Fertilidad global?
2. ¿Que país tiene la Edad Promedio más alta y cual la más baja?
3. Agrupa los países por continente y obtén la mediana de la población urbana
4. ¿Qué otro de cálculo de interés (usando estas variables) crees pertinente para comparar la calidad de vida a nivel global? ¿Porqué?

1. ¿Cual es el promedio de Tasa de Fertilidad global?

In [4]:
df.dtypes

Pais                   object
Poblacion (2020)        int64
Densidad                int64
Territorio (Km²)        int64
Tasa Migracion        float64
Tasa Fertilidad        object
Edad Promedio          object
% Poblacion Urbaba     object
Continente             object
dtype: object

In [5]:
df2 = df[df['Tasa Fertilidad'] != 'N.A.']

In [6]:
df2['Tasa Fertilidad'].astype('float64').mean()

2.693034825870647

2.¿Que país tiene la Edad Promedio más alta y cual la más baja?

In [7]:
df['Edad Promedio'].value_counts()['N.A.']

13

In [8]:
df3 = df[df['Edad Promedio'] != 'N.A.']

In [9]:
df3.head()

,Pais,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad,Edad Promedio,% Poblacion Urbaba,Continente
0,Afganistán,39074280,60,652860,-62920.0,4.6,18,25 %,Asia
1,Albania,2877239,105,27400,-14000.0,1.6,36,63 %,Europa
2,Alemania,83830972,240,348560,543822.0,1.6,46,76 %,Europa
4,Angola,33032075,26,1246700,6413.0,5.6,17,67 %,Africa
5,Antigua y Barbuda,98069,223,440,0.0,2,34,26 %,America

In [10]:
df3['Edad Promedio'].astype('int').mean()

30.606965174129353

In [11]:
df3['Edad Promedio'].astype('int').max()

48

In [12]:
df3[df3['Edad Promedio'].astype('int') == 48]

,Pais,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad,Edad Promedio,% Poblacion Urbaba,Continente
106,Japan,126407422,347,364555,71560.0,1.4,48,92 %,Asia

In [13]:
df3['Edad Promedio'].astype('int').min()

15

In [14]:
df3[df3['Edad Promedio'].astype('int') == 15]

,Pais,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad,Edad Promedio,% Poblacion Urbaba,Continente
145,Niger,24346468,19,1266700,4000.0,7,15,17 %,Africa

3. Agrupa los países por continente y obtén la mediana de la población urbana

In [15]:
df4 = df3.groupby(['Continente', 'Pais']).sum()

In [16]:
df4.head()

                         Poblacion (2020)  Densidad  Territorio (Km²)  \
Continente Pais
Africa     Angola                33032075        26           1246700
           Argelia               43984569        18           2381740
           Benin                 12175480       108            112760
           Botswana               2359585         4            566730
           Burkina Faso          20997293        76            273600

                         Tasa Migracion
Continente Pais
Africa     Angola                6413.0
           Argelia             -10000.0
           Benin                -2000.0
           Botswana              3000.0
           Burkina Faso        -25000.0

In [17]:
df3 = df3[df3["% Poblacion Urbaba"] != 'N.A.']

In [18]:
df3["% Poblacion Urbaba"] = df3["% Poblacion Urbaba"].apply(lambda x: float(x.split()[0].replace('%', '')))

In [19]:
df3["% Poblacion Urbaba"].median()

59.5

4.¿Qué otro de cálculo de interés (usando estas variables) crees pertinente para comparar la calidad de vida a nivel global? ¿Porqué?

La tasa de Migracion me parece pertinente ya que describre las posibilidad de ese pais y de las oportunidades 
que la gente busca fuera de el. Pudiendo hacer una comparacion entre continentes saber que continentes son los que mas migracion tienen.

In [20]:
df5 = df3.groupby(['Continente']).mean()

In [21]:
df5.groupby(['Continente','Tasa Migracion']).mean()

,,Poblacion (2020),Densidad,Territorio (Km²),% Poblacion Urbaba
Continente,Tasa Migracion,,,,
Africa,-7979.824561,2.338582e+07,114.175439,5.197218e+05,49.385965
America,39522.750000,2.741476e+07,161.916667,1.039488e+06,66.472222
Asia,-34470.541667,9.972116e+07,283.604167,9.884659e+05,58.375000
Europa,29606.525000,1.504617e+07,179.950000,1.395833e+05,71.425000
Oceania,13286.500000,3.535054e+06,77.250000,7.069783e+05,51.583333